---
layout: page
---
<!-- Main Content -->
<style>
    .index-page {
        padding-left: 30px;
    }
    .post-preview {
        width: 100%;
        height: max-content;
        margin-bottom: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
    }

    .post-preview .post-time {
        font-size: 18px;
        color: #999999;
        width: 125px;
    }

    .post-preview .post-info {
        flex: 1;
    }

    .post-preview .post-info a {
        cursor: pointer;
        text-decoration: none;
    }

    .post-preview .post-info .tag {
        color: #999999;
    }

    .post-preview .post-info .title {
        color: #101010;
        font-size: 18px;
        margin-bottom: 0;
    }
</style>


<div class="index-page">
    <% page.posts.each(function(post){ %>
    <div class="post-preview">
        <div class="post-time hidden-xs"> <%- post.date.format('YYYY-MM-DD') %> </div>
        <div class="post-info">
            <a href="<%= config.root %><%- post.path %>">
                <p class="title"><%- post.title || "Untitled" %></p>
            </a>
            <p>
                <% if (post.tags.length){%>
                <span>/</span>
                <% post.tags.forEach(function(tag){ %>
                <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
                <span>/</span>
                <% }) %>
                <% } %>
            </p>
        </div>
    </div>
    <% }); %>
    <%- partial('_partial/pagination') %>
</div>