<!DOCTYPE html>
<html lang="<%= config.language %>">

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>
    <%- partial('_partial/header',{cache: true}) %>
    <!-- Main Content -->
    <style>
        body {
            background-color: #f6f6f6;
        }

        .main-container {
            margin-right: auto;
            margin-left: auto;
            margin-top: 10px;
            padding-top: 30px;
            padding-bottom: 30px;
            background-color: white;

        }

        .post-list {
            line-height: 2.8em;
            border-left: 4px solid #f9f9f9;
        }

        @media (min-width: 768px) {
            .main-container {
                width: 750px;
            }

            .post-list {
                margin-left: 30px;
            }
        }

        @media (min-width: 992px) {
            .main-container {
                width: 990px;
            }
        }

        .post-list ul {
            padding-left: 0 !important;
        }

        .post-list li {
            list-style-type: none;
            position: relative;
            padding-left: 20px;
        }

        .post-list a {
            text-decoration: none;
        }

        .post-list li:before {
            position: absolute;
            top: 50%;
            left: -2px;
            width: 10px;
            height: 10px;
            margin-top: -9px;
            margin-left: -5px;
            content: ' ';
            border-radius: 50%;
            background-color: #ddd;
        }

        .post-list .post-item-parent {
            margin-top: 20px;
        }

        .post-list a {
            color: #000000;
        }

        .post-item-color-0:before {
            background: #1abc9c !important;
        }

        .post-item-color-1:before {
            background: #3498db !important;
        }

        .post-item-color-2:before {
            background: #9b59b6 !important;
        }

        .post-item-color-3:before {
            background: #e67e22 !important;
        }

        .post-item-color-4:before {
            background: #e74c3c !important;
        }

        .post-list .post-text-parent {
            font-size: 20px;
            font-weight: bold;
            font-weight: bold;
            color: #222;
        }

        .post-list .post-item-title {
            font-size: 16px;
            transition-duration: .5s;
            color: #333;
            vertical-align: middle;
            overflow: hidden;
        }

        .post-list .post-item-title:hover {
            color: #108ee9;
        }

        .post-list .post-item-date {
            margin-left: 2px;
            color: hsla(0, 0%, 71%, .9);
            font-size: .85em;
        }
    </style>
    <div class="main-container markdown-it">
        <%- body %>
    </div>

    <%- partial('_partial/go-top') %>
    <%- partial('_widget/click-image.ejs') %>
    <!-- Footer -->
    <%- partial('_partial/footer') %>

    <script>
        // 非本站网址，新开tab页签
        (function () {
            var stopBubble = function (e) {
                e && e.stopPropagation && e.stopPropagation();
            }
            var links = document.querySelectorAll('a');
            [].slice.call(links).forEach(function (item) {
                if (item.href && item.href.indexOf(window.location.host) === -1) {
                    item.target = '_blank'
                }
                // 阻止冒泡，不触发彩蛋。
                item.addEventListener('click', stopBubble, false);
            });
            document.querySelector('article').addEventListener('click', stopBubble, false)
        })();
    </script>
    <%- partial('_widget/click-egg.ejs') %>
</body>

</html>