<!DOCTYPE html>
<html lang="<%= config.language %>">

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>
    <%- partial('_partial/header',{cache: true}) %>
    <!-- Main Content -->
    <style>
        body {
            background-color: #f6f6f6;
        }

        .main-container {
            margin-right: auto;
            margin-left: auto;
            margin-top: 25px;
            padding-top: 30px;
            padding-bottom: 30px;
            background-color: white;

        }

        .post-list {
            line-height: 2.8em;
            border-left: 4px solid #f9f9f9;
            margin-left: 10px;
        }

        @media (min-width: 768px) {
            .main-container {
                width: 750px;
            }
            .post-list {
                margin-left: 100px;
            }
        }

        @media (min-width: 992px) {
            .main-container {
                width: 990px;
            }
        }

        .post-list ul {
            padding-left: 0 !important;
        }

        .post-list li {
            list-style-type: none;
            position: relative;
            padding-left: 20px;
        }

        .post-list a {
            text-decoration: none;
        }

        .post-list li:before {
            position: absolute;
            top: 50%;
            left: -2px;
            width: 10px;
            height: 10px;
            margin-top: -9px;
            margin-left: -5px;
            content: ' ';
            border-radius: 50%;
            background-color: #ddd;
        }

        .post-list .post-item-parent {
            margin-top: 20px;
        }

        .post-list a {
            color: #000000;
        }

        .post-item-color-0:before {
            background: #1abc9c !important;
        }

        .post-item-color-1:before {
            background: #3498db !important;
        }

        .post-item-color-2:before {
            background: #9b59b6 !important;
        }

        .post-item-color-3:before {
            background: #e67e22 !important;
        }

        .post-item-color-4:before {
            background: #e74c3c !important;
        }

        .post-list .post-text-parent {
            font-family: 'calligraffittiregular';
            font-size: 20px;
            font-weight: bold;
            font-weight: bold;
            color: #222;
        }

        .post-list .post-item-title {
            font-size: 16px;
            transition-duration: .5s;
            color: #333;
            vertical-align: middle;
            overflow: hidden;
        }

        .post-list .post-item-title:hover {
            color: #108ee9;
        }

        .post-list .post-item-date {
            margin-left: 10px;
            color: hsla(0, 0%, 71%, .9);
            font-size: .85em;
        }
    </style>
    <div class="main-container markdown-it">
        <%- body %>
    </div>

    <!-- Footer -->
    <%- partial('_partial/footer') %>


    <a id="rocket" href="#top" class=""></a>
    <script>
        window.onload = function () {
            var toc = document.getElementById('toc');
            var h2 = document.querySelectorAll('article h2');
            var h3 = document.querySelectorAll('article h3');
            var linkList = document.querySelectorAll('#toc a');

            function findLinkElement(name) {
                for (var i = 0; i < linkList.length; i++) {
                    var items = linkList[i].href.split('#');
                    if (items && items[items.length - 1] === encodeURIComponent(name)) {
                        return i;
                    }
                }
                return -1;
            }

            function activeLink(titleList) {
                var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
                for (var i = titleList.length - 1; i >= 0; i--) {
                    if (scrollTop - titleList[i].offsetTop > 0) {
                        var index = findLinkElement(titleList[i].id);
                        index != -1 && linkList[index].classList.add('toc-active');
                        break;
                    }
                }
            }

            function fixToc() {
                var tocPosition = toc.offsetTop;
                var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
                if (scrollTop > tocPosition - 60) {
                    toc.classList.add("toc-fixed");
                } else {
                    toc.classList.remove("toc-fixed");
                }
            }


            if (toc != null) {

                window.addEventListener("scroll", function (e) {
                    fixToc();
                    linkList.forEach(function (link) {
                        link.classList.remove('toc-active');
                    })
                    activeLink(h2);
                })
            }
        }
    </script>
</body>

</html>