---
layout: layout
---
<!-- Main Content -->
<main class="col-xs-12 padding-0 markdown-it">
    <!-- Post Container -->
    <% if (!is_post()) { %>
    <style>
        @media (min-width: 1200px) {
            .main-container {
                width: 1000px !important;
            }
        }

        #gkt-index-sidebar {
            border-left: 1px solid #eaecef;
        }

        #gkt-index-sidebar section {
            margin-bottom: 8px;
            padding: 10px;
        }

        .index-container {
            padding: 20px;
        }
    </style>
    <div class="col-xs-12 padding-0">
        <div class="col-xs-12 col-md-8 bg-white index-container box-shadow">
            <%- body %>
        </div>
        <div id="gkt-index-sidebar" class="hidden-xs hidden-sm col-md-4">
            <section class="bg-white box-shadow"><%- partial('_widget/summary') %></section>
            <section class="bg-white box-shadow"><%- partial('_widget/featured-tags') %></section>
            <section class="bg-white box-shadow text-center">
                <%- partial('_widget/custom-ad', {type: 'custom', count: 6}) %>
            </section>
        </div>
    </div>
    <% } else { %>
    <%- body %>
    <% } %>
</main>