---
layout: page
---
<style>
    .post-container {
        overflow: hidden;
    }

    .post-item-date {
        margin-left: 10px;
        color: hsla(0, 0%, 71%, .9);
        font-size: 0.85em;
    }

    .series_links {
        border: 1px solid #eaecef;
        padding: 15px;
        background-color: #fff8dc;
        margin-bottom: 20px;
        border-radius: 5px;
    }
</style>
<!-- Post Content -->
<article class="post-container">
    <h1> <%- page.title %> </h1>

    <% var categories = (page.categories || []).map(item => item)%>

    <% if (categories.length){  var category = categories[0] %>
    <div class="series_links">
        <p> <strong> <%= category.name %>系列文章链接：</strong></p>
        <ul>
            <% category.posts.sort('date').map(function(post, index){ %>
            <li>
                <a href="<%= config.root %><%- post.path %>"><%- post.title || "Untitled" %></a>
                <span class="post-item-date">(<%= post.date.format('ll') %>)</span>
            </li>
            <% }) %>
        </ul>
    </div>
    <% } %>
    <% if(page.github) { %>
    <blockquote>
        <p>源代码/数据集已上传到
            <a href="<%= page.github %>" target="_blank" rel="noopener">
                Github - <%= page.github.split('/')[4] %>
            </a>
        </p>
    </blockquote>
    <% } %>
    <% var file_name = page.path.split('/').reverse()[0] %>
    <% if (file_name !== 'about.html' && file_name !== 'link.html') { %>
    <%- partial('_widget/google-ad', {type: 'inarticle'}) %>
    <% } %>
    <%- page.content %>
    <!-- 文章末尾的提示 start -->
    <% if (config.post_tips && config.post_tips.find_me ) {%>
    <p>
        本站永久域名<strong>「 <a href="<%= config.root %><%= page.path %>"><%= config.url.split('/').reverse()[0]%></a>
            」</strong>，也可搜索<strong>「 <%= config.title %> 」</strong>找到我。
    </p>
    <% }%>
    <% if (config.post_tips && config.post_tips.zhihu_zhuanlan ) {%>
    <p>期待关注我的<strong>「 <a href="<%= config.post_tips.zhihu_zhuanlan %>">知乎专栏</a>」</strong>，所有文章可在<strong>「 知乎APP
            」</strong>查看。</p>
    <% }%>
    <!-- 文章末尾的提示 end -->

    <%-partial('_widget/generate-qrcode') %>
    <hr>
    <div>
        <p>
            <span><%- __('tags')%>: </span>
            <% page.tags.each(function(tag) { %>
            <a href="<%- config.root%>tags/#<%- tag.name%>">
                <code style="color: #333" key="<%- tag.name%>" class="post-label">#<%- tag.name%></code>
            </a>

            <% }) %>
        </p>
        <% if ((page.categories || []).length){ %>
        <p>
            <span><%- __('categories')%>: </span>
            <% page.categories.each(function(category) { %>
            <a href="<%- config.root%>series/#<%- category.name%>">
                <code style="color: #c7254e" key="<%- category.name%>" class="post-label"><%- category.name%></code>
            </a>
            <% }) %>
        </p>
        <% } %>
        <p>
            <span>发表于<%= page.date.format('YYYY-MM-DD HH:mm:ss') %>，最后修改于<%= page.updated.format('YYYY-MM-DD HH:mm:ss') %>。</span>
        </p>
        <p><span>本站文章欢迎链接分享，禁止全文转载。</span></p>
    </div>
    <hr />
    <%-partial('_partial/prev-next-post') %>
</article>
<!-- 赞赏 -->
<%- partial('_widget/reward') %>
<!-- 推荐阅读三篇文章 -->
<div style="margin-top: 20px">
    <h3>推荐阅读</h3>
    <% if (config.google_ad_client) { %>
    <!-- 信息流ad，推荐阅读第一条 -->
    <ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-h6+k+10-gc+q6"
        data-ad-client="<%= config.google_ad_client %>" data-ad-slot="4027329675"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <% } %>
    <%  let randomInt = (max) => Math.floor(Math.random() * Math.floor(max));
        let choices = []
        let posts = []
        if (site.posts.length >= 3) {
            while(choices.length < 3) {
                let num = randomInt(site.posts.length);
                choices.indexOf(num) === -1 && choices.push(num)
            }
        } else {
            choices = [0, 1, 2]
        }
        site.posts.sort('date').reverse().each(function(post, i){
            if (choices.indexOf(i) !== -1) { 

        %>
    <%- partial('_widget/post-preview', {post: post}) %>
    <% }}); %>
</div>
<div style="margin-top: 30px">
    <!-- 标签列表 -->
    <%- partial('_widget/featured-tags') %>
</div>

<!-- 评论 -->
<%- partial('_widget/comments') %>
<script>
    window.innerWidth >= 768 && window.scroll(0, 170);
</script>