---
layout: layout
---

<!-- Post Content -->
<article>
    <div class="row">

        <!-- Post Container -->
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 post-container">
            <div class="col-xs-12">
                <h1> <%- page.title %> </h1>
                <%- page.content %>
                <hr>
                <div>
                    <p>
                        <span><%- __('tags')%>: </span>
                        <% page.tags.each(function(tag) { %>
                        <a href="<%- config.root%>tags/#<%- tag.name%>">
                            <code style="color: #333" key="<%- tag.name%>" class="post-label">#<%- tag.name%></code>
                        </a>

                        <% }) %>
                    </p>
                    <% if (page.categories){ %>
                    <p>
                        <span><%- __('categories')%>: </span>
                        <% page.categories.each(function(category) { %>
                        <a href="<%- config.root%>series/#<%- category.name%>">
                            <code style="color: #c7254e" key="<%- category.name%>" class="post-label"><%- category.name%></code>
                        </a>
                        <% }) %>
                    </p>
                    <% } %>
                    <p>
                        <span>本站使用</span>
                        <a href="https://creativecommons.org/licenses/by/4.0/deed.zh">「署名 4.0 国际」</a>
                        <span>创作共享协议，转载请注明出处</span>
                    </p>
                </div>
                <hr />
                <%-partial('_partial/prev-next-post') %>
            </div>
            <div class="col-xs-12">
                <%- partial('_widget/reward') %>
            </div>
            <div class="col-xs-12">
                <%- partial('_widget/comments') %>
            </div>
        </div>
        <!-- Tabe of Content -->
        <%- partial('_partial/toc') %>
    </div>
</article>