<div id="gitalk-container"></div>
<%- css('css/gitalk.css') %>
<%- js('js/gitalk.min.js') %>
<script>
    window.addEventListener('load', function () {
        const gitalk = new Gitalk({
            clientID: '<%- config.gitalk.client_id %>',
            clientSecret: '<%- config.gitalk.client_secret %>',
            repo: '<%- config.gitalk.repo %>',
            owner: '<%- config.gitalk.owner %>',
            admin: ['<%- config.gitalk.owner %>'],
            id: window.location.pathname,
            distractionFreeMode: false
        });
        gitalk.render('gitalk-container');
        document.querySelector('#gitalk-container').addEventListener('click', function (e) {
            e && e.stopPropagation && e.stopPropagation();
        });
    })
</script>