<!-- Featured Tags -->
<style>
    #featured-tag .post-tag-item {
        font-size: 12px;
        line-height: 30px;
        display: inline-block;
        height: 30px;
        margin: 5px 3px;
        padding: 0 12px;
        color: #333;
        border-radius: 15px;
        background: #f6f6f6;
    }
    #featured-tag .post-tag-item:hover {
        color: #108ee9;
    }
</style>
<section id="featured-tag">
    <div class="col-xs-12">
        <% site.tags.map(function(tag){  %>

        <a class="post-tag-item" href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"
            rel="<%= tag.length %>">#<%= tag.name %> (<%= tag.length %>) </a>
            
        <% }) %>
    </div>
</section>