<% if (config.google_ad_client && type !== 'custom') { %>
<% if (type === '250') { %>
<!-- 侧边栏ad 250 * 90 -->
<ins class="adsbygoogle" style="display:inline-block;width:250px;height:90px"
    data-ad-client="<%= config.google_ad_client %>" data-ad-slot="3708583719"></ins>
<% } %>
<% if (type === 'fluid') { %>
<!-- 主页信息流ad 最下面一个 -->
<ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-h6+k+10-gc+q6"
    data-ad-client="<%= config.google_ad_client %>" data-ad-slot="4027329675"></ins>
<div style="height: 5px;"></div>
<% } %>
<% if (type === 'inarticle') { %>
<!-- 文章内嵌ad，文章开始，专题下面 -->
<ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid"
    data-ad-client="<%= config.google_ad_client %>" data-ad-slot="1110943177"></ins>
<div style="height: 10px;"></div>
<% }%>
<% if (type === '700') { %>
<ins class="adsbygoogle" style="display:block" data-ad-client="<%= config.google_ad_client %>" data-ad-slot="2247208099"
    data-ad-format="auto" data-full-width-responsive="true"></ins>
<% }%>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<% } %>
<% if (type === 'custom' && config.custom_ads) { %>
<style>
    .gkt-rec-links,
    .gkt-rec-links div {
        width: 250px;
    }

    .gkt-rec-links a>img {
        width: 100%;
        margin-left: 0;
        transform: none;
        -webkit-transform: none;
    }
</style>
<div class="gkt-rec-links"></div>
<%  let html = (config.custom_ads || []).map(item => {
        let img = item.img.startsWith('http') ? item.img : config.root + item.img;
        return `<div><a href="${item.link}"><img src="${img}" alt="rec"></a></div>`
}).join(''); %>
<script>
    document.querySelector('.gkt-rec-links').innerHTML = '<%- html %>'
</script>
<% }; %>