<!-- Post Header -->
<style type="text/css">
    .geektutu-header {
        height: 200px;
        background: no-repeat center center;
        font-size: 1.5em;
        text-align: center;
        background-image: url('<%= config.root %><%= config.header_img %>');
        z-index: 2;
        background-size: cover;
        width: 100%;
        overflow: hidden;
    }

    .header-nav li {
        display: inline-block;
        padding: 0 10px;
        margin-bottom: 0;
    }

    .header-nav ul {
        list-style: none;
    }

    .header-nav a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        text-shadow: 0 1px #666;
    }

    .header-nav a:hover,
    .header-nav a:focus {
        color: #e6e6e6;
    }

    .header-icon {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin: 10px auto;
        background-image: url('<%= config.root %><%= config.header_icon %>');
        background-size: cover;
    }

    .header-name a {
        color: white;
        font-size: 24px;
    }
</style>

<header class="geektutu-header">
    <div className="col-xs-12 text-center">
        <div class="header-icon"></div>
        <p class="header-name"><a href="<%= config.root %>" class="no-text-decoration"><%= config.title %></a></p>
        <nav class="header-nav">
            <ul>
                <li> <a href="<%= config.root %>"><%= __('index_page') %></a></li>
                <li>
                    <a href="<%= config.root %>tags"><%= __('tags') %></a>
                </li>
                <li>
                    <a href="<%= config.root %>archives"><%= __('archives') %></a>
                </li>
                <li>
                    <a href="<%= config.root %>post/link.html"><%= __('friend_link') %></a>
                </li>
                <li>
                    <a href="<%= config.root %>post/about.html"><%= __('about') %></a>
                </li>
            </ul>
        </nav>
</header>