<!-- Post Header -->
<style type="text/css">
    .gkt-header {
        /* background-color: #5588a3; */
        background-color: #145374;
        background-color: #07689f;
        background-color: #3e474f;
        position: fixed;
        top: 0;
        z-index: 9999;
        -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, .3);
        box-shadow: 0 1px 3px rgba(26, 26, 26, .3);
    }

    .gkt-header>div {
        height: 48px;
        padding: 4px 0;
        line-height: 40px;
    }

    .gkt-header img {
        padding: 5px;
        width: 40px;
        margin-right: 10px;
    }

    .gkt-header-title {
        font-size: 20px;
        line-height: 40px;
        color: rgba(255, 255, 255, 0.9);
    }

    .gkt-header-nav li {
        display: inline-block;
        padding: 0 5px;
        margin-bottom: 0;
    }

    .gkt-header-nav ul {
        list-style: none;
    }

    .gkt-header-nav a {
        font-size: 18px;
        color: #b2bbbd;
        fill: #b2bbbd;
    }

    .gkt-header a:hover,
    .gkt-cate-name.active a {
        color: #ffffff;
    }
</style>
<header class="gkt-header col-xs-12 padding-0">
    <div class="gkt-header-container">
        <a href="<%= config.root %>" class="gkt-header-title float-left">
            <img class="float-left" src="<%= config.root %><%= config.header_icon %>" alt="">
            <span><%= config.title %></span>
        </a>
        <nav class="gkt-header-nav text-right">
            <ul>
                <li><a class="hidden-xs" href="<%= config.root %>"><%= __('index_page') %></a></li>
                <li><a href="<%= config.root %>series/"><%= __('categories') %></a></li>
                <li><a href="<%= config.root %>archives/"><%= __('archives') %></a></li>
                <li><a href="<%= config.root %>post/link.html"><%= __('friend_link') %></a></li>
                <li><a href="<%= config.root %>post/about.html"><%= __('about') %></a></li>
            </ul>
        </nav>
    </div>
    <div id="gkt-cate-nav" class="gkt-header-container hidden-xs">
        <% var post_category = page.categories && page.categories.map(item => item.name) %>
        <nav class="gkt-header-nav float-left">
            <ul>
                <% site.categories.forEach(function(category, index){  %>
                <% var is_category = (post_category + '') == category.name %>
                <% var posts = category.posts.sort('date').map(post => post) %>
                <li class="gkt-cate-name float-left <%= is_category && 'active'%>">
                    <a ref="nofollow" class="float-left"
                        href="<%= config.root %><%= posts[0].path %>"><%= category.name %></a>
                </li>
                <% }) %>
            </ul>
        </nav>
    </div>
</header>
<div style="height: 52px"></div>
<div class="hidden-xs" style="height: 48px"></div>
<script>
    (function () {
        window.addEventListener('scroll', function () {
            var catNav = document.querySelector('#gkt-cate-nav');
            var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
            scrollTop > 50 && (catNav.classList.add('hide'));
            scrollTop <= 50 && (catNav.classList.remove('hide'));
        });
    })();
</script>