<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <% var seo = config.seo || {} %>
  <meta name="baidu-site-verification" content="<%= seo.baidu_site_verification %>" />
  <meta name="google-site-verification" content="<%= seo.google_site_verification %>" />
  <meta name="msvalidate.01" content="<%= seo.ms_site_verification %>" />
  <meta name="360-site-verification" content="<%= seo._360_site_verification %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- if page has tags, then add tags to keyword -->
  <meta name="keyword" content="<%= config.keyword + ',' + (page.tags || []).map((tag)=>tag.name).join(',') %>">
  <!-- page.description has higher priority -->
  <meta name="description" content="<%= page.description || config.description %>">
  <link rel="shortcut icon" href="<%= config.root %><%= config.header_icon %>">
  <title>
    <% if (page.title) { %>
    <%= page.title + ' | ' + (config.seo_title || config.title) %>
    <% } else {%>
    <%= config.title %>
    <% } %>
  </title>

  <link rel="canonical" href="<%= config.root %><%= (page.path||'').replace('index.html', '') %>">

  <%- css('css/reset.css') %>
  <%- css('css/layout.css') %>
  <%- css('css/geektutu.css')%>
  <%- css('css/markdown.css')%>

  <!-- Pygments Highlight CSS -->
  <%- css('css/highlight') %>
  <!-- <%- css('css/toc')%> -->
</head>