<div class="text-center">
    <p>
        <% if (page.prev){ %>
        <a href="<%= config.root %><%- page.prev_link %>">« <%= __('prev') %></a>
        <% } %>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <% if (page.next){ %>
        <a href="<%= config.root %><%- page.next_link %>"><%= __('next') %> »</a>
        <% } %>
    </p>
</div>