<p name="pagination">
    <% if (page.prev){ %>
    <a class="float-left" href="<%= config.root %><%- page.prev.path %>">« <%- page.prev.title %></a>
    <% } %>
    <% if (page.next){ %>
    <a class="float-right" href="<%= config.root %><%- page.next.path %>"><%- page.next.title %> »</a>
    <% } %>
</p>